* {
  margin: 0;
  padding: 0;

  font-family: "Work Sans", sans-serif;
  font-family: "Crimson Text", serif;
  font-family: "Poppins", sans-serif;
}
/* start navbar style  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 110px;
  background-color: #e554731a;
}
.menus {
  display: flex;
  justify-content: center;
}
.logo {
  font-size: 25px;
  font-weight: 700;
  margin-left: 40px;
}
.logos-color {
  color: #e55473;
}
.menu {
  list-style: none;
}
.menu a {
  text-decoration: none;
  margin-right: 40px;
  color: black;
  font-weight: 600;
}
/* end navbar style  */

/* start banner style  */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 100px 0 0;
  /* height: 100vh; */
  background-color: #e554731a;
  gap: 20px;
}
.shop-info {
  width: 600px;
}
.shop-title {
  font-size: 60px;
  font-weight: 900;
}
.shop-description {
  font-size: 18px;
  margin: 20px 0;
  color: #636060;
}
.btn {
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  background-color: #e55473;
  font-size: 20px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.banner-photo {
  width: 500px;
}
.banner-photo img {
  width: 100%;
  margin-bottom: -6px;
}

/* end banner style  */

/* start featured style  */
.our-featured-container {
  width: 90%;
  margin: 100px auto;
}
.featured-info {
  text-align: center;
  margin-top: 100px 0;
}
.featured-title {
  font-size: 30px;
  margin: 20px 0;
}
.featured-description {
  width: 600px;
  margin: 30px auto;
  color: #636060;
  font-size: 18px;
}
.featured-photos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.photos-bg1 {
  width: 400px;
  height: 500px;
  text-align: center;
  background-color: #e880b23c;
  background-image: url("./Flower\ Asset/pink-flower.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 200px 200px 0 0;
}

.photos-bg2 {
  width: 400px;
  height: 500px;
  text-align: center;
  background-color: #0597a026;
  background-image: url("./Flower\ Asset/flower-bundle.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px 200px 0 0;
}
.photos-bg3 {
  width: 400px;
  height: 500px;
  text-align: center;
  background-color: #477d1126;
  background-image: url("./Flower\ Asset/yellow-flower.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 200px 200px 0 0;
}
.flower-name {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  color: #636060;
  font-size: 20px;
  font-weight: 700;
}
/* end featured style  */
/* start support section style  */
.support-container {
  width: 75%;
  margin: 100px auto;
  height: 300px;
  background-color: #3231310d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.support p {
  color: #636060;
  margin-top: 20px;
}
/* end support section style  */
/* start hot deal style  */
.hot-deal-container {
  width: 100%;
  background-color: #e554731a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px 0;
  margin: 30px 0;
}
.hot-deal-info {
  text-align: center;
  width: 600px;
}
.hot-deal-title {
  font-size: 40px;
}
.hot-deal-description {
  font-size: 18px;
  margin: 30px 0;
  color: #636060;
}

/* end hot deal style  */
/* start instagram style  */
.insta-container {
  margin: 50px 0;
}
.insta-info {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.insta-title {
  font-size: 40px;
  margin: 30px 0;
}
.insta-description {
  font-size: 18px;
  color: #636060;
}
.insta-photos {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 40px 0;
}
.insta-photo {
  width: 350px;
  height: 400px;
}
.insta-photo img {
  width: 100%;
}

/* end instagram style  */
/* start subscribe section style */
.subscribe-container {
  width: 85%;
  height: 400px;
  margin: 100px auto;
  background-image: url("./Flower\ Asset/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sub-title {
  font-size: 40px;
}
.sub-coupon {
  font-size: 18px;
  margin: 15px 0 50px;
  color: #636060;
}
.email-input {
  border: none;
  border-radius: 10px;
  padding: 25px 250px;
  margin-right: 20px;
  color: #636060;
}

/* end subscribe section style */
/* start footer style  */
.footer-container {
  width: 100%;
  height: 400px;
  /* margin-top: 150px; */
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-description {
  width: 600px;
  margin: 40px 0;
  color: #d2c5c5;
}
.copyright {
  font-size: 13px;
  font-weight: 400;
  color: lightgray;
}

/* end footer style  */
